a {
  text-decoration: none;
}
li {
  list-style: none;
}
sup {
  font-size: 22px;
}
.tempDisplay {
  font-size: 46px;
}
.weather-app {
  border: 3px solid #37474f;
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 750px;
  background-color: #e0f2f1;
}
.tempType {
  font-size: 24px;
  text-decoration: none;
}
.footer {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
}
#city-value {
  font-size: 36px;
}
#description {
  text-transform: capitalize;
}
